
.default-cta {
  background-image: url('../images/flower-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $green-gray;
  text-align: center;
  height: 150px;
}

.default-cta h1{
  color: white;
}
