.img-responsive {
      display: block;
      position: relative;
      margin: 0 auto;
      }
.square-boxes {
      background-color: #eae7ce;

      a {
            color: $font-color;
            text-align: center;
      }
      h1 {
            padding-bottom: 12px;
      }
}
.box-info {
      padding-bottom: 25px;
}
